:root {
    --bg: linen;
    --bg-hover: orange;
    --main-col: black;
    --radius: 13px;
}
body {
    background-color: var(--bg);   
    color: var(--main-col);
    margin: 2em;
}
#navbar { 
    margin: 4vh 0; 
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: var(--main-col);
}
#navbar a {
    padding: 5px;
    margin: 5px;
}

#main {
    font-size: 1.2rem;
}
#navbar a:hover {
    border-bottom: 2px solid black;
}
#current {
    border-bottom: 2px solid red;
}
.card {
    border-radius: var(--radius);
    background-color: white;
}
.card img {
    width: 100%;
}
.grid {
    display: grid;
}