:root {
    --bg: linen;
    --bg-hover: orange;
    --main-col: black;
    --sub-col: green;

    --orange-red-crayola: #fe5f55ff;
    --middle-yellow-red: #f0b67fff;
    --dutch-white: #d6d1b1ff;
    --aero-blue: #c7efcfff;
    --beige: #eef5dbff;
    --radius: 13px;
}

body {
 background-color: var(--bg);   
 color: var(--main-col);
}

#navbar { 
    margin: 4vh 0; 
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
}

#navbar a {
    padding: 5px;
    margin: 5px;
}

#main {
    font-size: 1.2rem;
}

#navbar a:hover {
    border-bottom: 1px solid black;
}

#current {
    border-bottom: 1px solid red;
}

.card {
    border-radius: var(--radius);
    background-color: white;
}

.card img {
    width: 100%;
}

.grid {
    display: grid;
}