.card p {
    font-size: 1.4rem;
    text-align: center;
}

.card img {
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    margin: 2em;
    font-family: "Pacifico", cursive;
}

.card-wrapper {
    height: 352px;
    width: 312px;
    border: 2px solid black;
    border-radius: 1em;
    box-shadow: 0px 30px 25px -25px rgba(0, 0, 0, 25%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-image {
    flex: 1 1;
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid black;
    backdrop-filter: blur(30px);
    justify-content: center;
}

.card-info {
    height: 25%;
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.25em;
    transition: height 333ms ease-out;
}