
.card {
    border-radius: var(--radius);
}
.card img {
    width: 100%;
}
.grid {
    display: grid;
}
.row {
    display: flex;
    height: 88%;
    align-items: center;
}
.col {
    flex-basis: 50%;
    padding-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right: 50px;
    padding-left: 70px;
}
h1 {
    color: crimson;
    padding-bottom: 10px;
    font-size: 50px;
}
button {
    width: 180px;
    color: white;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 12px 0;
    background: crimson;
    border-radius: 20px;
    margin-top: 20px;
    border: 0;
}

.container {
    display: flex;
    padding-top: 200px;
    justify-content: center;
    font-family: Arial;
}
.cards {
    width: 250px;
    height: 200px;
    background: white;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}