:root {
    --bg: red;
    --bg-hover: orange;
    --main-col: yellow;
    --sub-col: green;

    --orange-red-crayola: #fe5f55ff;
    --middle-yellow-red: #f0b67fff;
    --dutch-white: #d6d1b1ff;
    --aero-blue: #c7efcfff;
    --beige: #eef5dbff;
}

#navbar { margin: 5px; }

a {
    text-decoration: none;
    color: black;
}

#navbar a {
    padding: 5px;
    margin: 5px;
}

#navbar a:hover {
    border-bottom: 1px solid black;
}

#current {
    border-bottom: 1px solid red;
}